name: build test

on:
  push:
    paths-ignore:
      - "*.md"
  pull_request:
    branches: [master]

jobs:
  build-linux:
    name: build in native linux
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: install libva-dev
        run: |
          sudo apt-get update
          sudo apt-get install -y libva-dev
      - name: Create version based on current date
        id: date
        run: |
          today=$(TZ='Europe/Amsterdam' date +'%Y-%m-%d')
          version=$(echo $today | sed 's/-0*/./g')
          echo "today=${today}"
          echo "version=${version}"
          echo "today=${today}" >> $GITHUB_OUTPUT
          echo "version=${version}" >> $GITHUB_OUTPUT
      - name: build ffmpeg
        run: |
          while sleep 300; do echo "=====[ $SECONDS seconds still running ]====="; done &
          SKIPINSTALL=yes VERBOSE=yes SKIPRAV1E=yes ./build-ffmpeg --build --enable-gpl-and-non-free
          kill %1
      - name: check shared library
        run: |
          ldd ./workspace/bin/ffmpeg
      - name: test run ffmpeg
        run: |
          ./workspace/bin/ffmpeg -buildconf
      - name: clean up and package
        run: |
          mkdir -p ./workspace/bin
          find . > ./workspace/bin/ffmpeg-files.txt
          cd ./workspace
          tar cfvz ./ffmpeg.tar.gz ./bin
          gpg --quiet --batch --yes --symmetric --cipher-algo AES256  --passphrase="${{ secrets.GPG_PASSPHRASE }}" --output ffmpeg.gpg ffmpeg.tar.gz
      - name: artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ffmpeg
          path: |
            ./workspace/ffmpeg.gpg
      - name: Release
        if: github.ref_name == 'master'
        uses: ncipollo/release-action@v1
        with:
          name: ${{ steps.date.outputs.today }}
          commit: ${{ github.sha }}
          tag: ${{ steps.date.outputs.today }}
          body: "Personal ffmpeg build (${{ steps.date.outputs.today }}). Not to be distributed. Build your own."
          makeLatest: true
          allowUpdates: true
          replacesArtifacts: true
          artifacts: "./workspace/ffmpeg.gpg"
